/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";

html, body {
  font-family: 'Raleway', sans-serif;
}

.container-fluid {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

img {
  max-width: 100%;
}

.navbar {
  margin: 0;
  padding: 0;
  border: none;
  border-radius: 0;
}

.nav a {
  font-size: 14px;
}

.navbar-default .navbar-nav>li>a {
  color: #333;
  padding-bottom: 10px;
}

.navbar-default .navbar-nav>li:hover {
  border-bottom: 5px solid #ffd08a;
}

.navbar-default .navbar-nav>li:nth-of-type(2):hover {
  border-bottom: 5px solid #ffa376;
}

.navbar-default .navbar-nav>li:nth-of-type(3):hover {
  border-bottom: 5px solid #d26578;
}

.navbar-default .navbar-nav>li:nth-of-type(4):hover {
  border-bottom: 5px solid #682a84;
}
